setuptools
wheel
python-dotenv
pre-commit
pydantic
pytest
tenacity
requests

# ## Public Aviz92 repos ##
custom-python-logger
python-simple-email-sender
python-vault
python-base-toolkit
pytest-plugins
pytest-dynamic-parameterize
python-jira-plus
python-notion-plus
python-pandas-translation
python-databases
pyrest-model-client
python-github-plus
python-gitlab-plus
python-custom-exceptions

# ## Private Aviz92 repos ##
# pytest-plugin-jira-reporter @ git+https://github.com/aviz92/pytest-plugin-jira-reporter.git
# pytest-plugin-db-reporter @ git+https://github.com/aviz92/pytest-plugin-db-reporter.git
