setuptools
wheel
python-dotenv
pre-commit
pydantic
pytest
tenacity
requests

# ## Public Aviz92 repos ##
custom-python-logger
pyrest-model-client
pytest-dynamic-parameterize
pytest-plugins
python-base-toolkit
python-custom-exceptions
python-databases
python-gitlab-plus
python-github-plus
python-jira-plus
python-notion-plus
python-simple-email-sender
python-vault

# ## Private Aviz92 repos ##
# pytest-plugin-jira-reporter @ git+https://github.com/aviz92/pytest-plugin-jira-reporter.git
# pytest-plugin-db-reporter @ git+https://github.com/aviz92/pytest-plugin-db-reporter.git
